@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600&display=swap');

.my-userlist-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 3rem;
    min-height: 75vh;
}

.my-tablerow {
    padding: 15rem;
  }

.my-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
} 

#delete-icon {
    pointer-events: auto;
}

.my-table-content-center {
    text-align: center;
    vertical-align: middle;
}

/* STYLES FOR THE MODAL WITH FORM TO UPDATE USER DETAILS */
.modal-content {
    color: black;
}

.my-update-form {
    background-color: #FCF8E8;
}

.my-update-input {
    background-color: #FCF8E8;
    border: 1px solid  #ECB390;
    height: 2rem;
    padding-left: 0.5rem;
}

.editConfirm-button {
    text-transform: uppercase;
}

/* PAGINATION */
.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-container .page-link {
    color: #000; /* Text color links, not active page */
    background-color: #fff;; /* Bakground color, not active page */
    border: 1px solid #ccc;
}

.pagination-container .page-link:hover {
    background-color: #eee;
}

.pagination-container .page-item.active .page-link {
    color: #fff; /* text color, active page */
    background-color: #000; /* Background color, active page */
    border: 1px solid #000;
}